.bannerindex {
    max-width: 100%;
    & :hover{
        transform: scale(1.1);
        transition: all 5s;
    }
}

.articuloi__img{
    max-width: 100%;
    & :hover {
        transform: scale(1.1);
        transition: all 5s; 
        }
    }

.art__img{
    max-width: 100%;
    transition: all .7s;
    & :hover {
        transform: scale(5%);
    }
}

.art-galeria{
    transition: all .5s;
    & :hover{
        transform: scale(1.5);
    }
}

.articulo__img{
    max-width: 100%;
    transition: all .7s;
    & :hover {
        transform: scale(2);
    }
}

.articulo__button{
    max-width: 100%;
    transition: all .7s;
    & :hover {
        transform: scale(2);
    }
}