//mixins sin parametros
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin boton{
    font-size: 14px;
                            background: rgba(132, 132, 132, 0.872);
                            border-color: rgba(83, 83, 69, 0.872);
                            color: #fff;
                            width: 100px;
                            height: 50px;
                            border-radius: 5;
                        &:hover {
                            background-color: rgba(50, 50, 40, 0.872);
                            }
}