#section1{
    .cruce{
        font-weight: bold;
        color: rgba(132, 132, 132, 0.872);
    }
}
#galeria {
    @include flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3rem;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin-bottom: 5rem;
    margin-bottom: 3rem;
    align-items: baseline;
    .art-galeria {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 50%;
        align-items: center;
        padding: 5px;
        gap: 10px;
        align-items: center;
        flex: 1 1 clamp(300px, 40%, 400px);
        .art__img {
            margin-top: 5px;
            width: 150%;
        }
    }
}

@media (max-width: 350px) {
    .art-galeria {
    flex-direction: column;
    align-items: center;
    }

    .art__img {
    flex: none;
    width: 100%;
    }
}