#reserva{
    background-color:rgba(50, 50, 40, 0.872);
    @include flex;
        .row{
            margin-top: 2rem;
            margin-bottom: 3rem;
            .disponibilidad{
            color: #fff;
            font-size: 22px;
            padding: 10px;
            margin-top: 2rem;
            margin-bottom: 2rem;
            }
            .formulario{
                margin-top: 2rem;
                margin-bottom: 2rem;
                .col-lg-3.mb-3{
                    padding: 10px;
                    .form-control{
                        font-size: 14px;
                        color: rgba(50, 50, 40, 0.872);
                        }
                        .form-select{
                        color: rgba(50, 50, 40, 0.872);
                        font-size: 18px;
                        }
                        .boton-reserva{
                            font-size: 14px;
                            background: rgba(132, 132, 132, 0.872);
                            border-color: rgba(83, 83, 69, 0.872);
                            color: #fff;
                            width: 100px;
                            height: 50px;
                            border-radius: 5;
                        &:hover {
                            background-color: rgba(50, 50, 40, 0.872);
                            }
                        }
                }
                
            }
        }
    }


.section2-reservas{
    .carrusel-tit {
        color: #fff;
        font-size: 28px;
        font-weight: bold; }
    .carrusel-text {
        color: #fff; }
}