#reserva{
    background-color:rgba(50, 50, 40, 0.872);
    @include flex;
    h1 { 
    @include flex;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #fff;}
    .col-lg-12{
        margin-top: 4rem;
        margin-bottom: 4rem;
        height: 400px;
        .row{
            gap: 20px;
        }
    }
}


label{
    color: rgba(50, 50, 40, 0.872);
}

.section2-reservas{
    .carrusel-tit {
        color: #fff;
        font-size: 28px;
        font-weight: bold; }
    .carrusel-text {
        color: #fff; }
}